DATABASE_URL="postgresql://gimnasio:gimnasio@localhost:5432/gimnasio?schema=public"
PORT=3000
JWT_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"
SEED_ADMIN_EMAIL="admin@gimnasio.com"
SEED_ADMIN_PASSWORD="admin1234"
NODE_ENV=development
# En producción: URL de tu frontend en GitHub Pages (puede ser varias separadas por coma)
FRONTEND_URL="https://tuusuario.github.io"
